@font-face {
    font-family: abel;
    src: url(../fonts/abel-regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}


/* Mobile query*/

html, body {
   
    margin: 0;
    padding: 0;
	background-color:#141D39;	
}

.logo{
	padding-top: 20px;
	padding-left: 20px;	
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;	
}	  

#map {
    height: 50vh;
	width: 90vw;	
	margin: 20px auto 20px auto;
	z-index: 10;
}


/* Location div rechts */

.location {
	margin-top: 20px;
	line-height:0.1;	
	text-align: center;
}

.divContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
}


#cleverbot{
	display: flex;	
	align-items: center;	
	text-align: center;
}

div.robot4{
	display: none;
}

.chatbox {
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
}

textarea {
    resize: none;
	overflow: auto;
}

textarea#bot {
	width: 60vw;
	height: 15vh;
	border: 2px solid #A9A9A9;
	border-radius: 5px;
	padding: 5px;
	font-family: poppins, sans-serif;
}

input#chatInput{
	width: 60vw;
	height: 2vh;
	border: 2px solid #A9A9A9;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	font-family: poppins, sans-serif;
}

input#chatSend {
	font-family: abel, sans-serif;
	font-size: 1.2em;
    background-color: #3EC7C9;
    border-radius: 5px;
	border: none;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.legenda {
	padding-top: 40px;
}

/* Einde location div rechts */

/* Text */
h1 {
	color: white;
	font-family: abel, sans-serif;
	font-size: 3em;
}

h2 {
	color: #A9A9A9;
	font-family: poppins, sans-serif;
	font-size: 1em;
}

h2.land {
	line-height: 2;
	display: inline-block;
}
/* Text end */


/* end query*/  

@media only screen and (min-width : 600px) {
/* Styles */
#map {
    height: 50vh;
	width: 80vw;
}	

div.robot4{
	display: block;
}

#cleverbot{
	margin-right: 50px;
}


} 

/* end query */


@media only screen and (min-width : 900px) {
/* Styles */

html, body {
	
	overflow-y: hidden;
}

.container {
	flex-direction: row;	
}

#map {
    height: 85vh;
	width: 50vw;	
}

.location {
	order:1;
	align-self: flex-start;	
	margin-right: 80px;

}

textarea#bot {
	width: 20vw;
	height: 15vh;
}

input#chatInput{
	width: 20vw;
	height: 2vh;
} 	


h1 {
	font-size: 4em;
}

h2 {
	font-size: 1.5em;
}

h2.land {
	font-size: 1em;
	line-height: 2;
}
	
} /* end query */